@{
    ViewBag.Title = "About";
}
<h2>Madurai Catering Service</h2>
<h3>About</h3>

<p>Catering is important as a large part of any event or party revolves around food. 
    The food you present to your guests can either make or break your event, 
    hence investing in a catering company is the best way out.</p>
