@{
    ViewBag.Title = "Contact";
}
<h2>Madurai Catering Service</h2>
<h3>Contact Address</h3>

<address>
    First Cross Street,<br />
    Simakkal,Madurai, 625100<br />
    <abbr title="Phone">P:</abbr>
    8778299665
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">maduraicateringsupport@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">maduraicateringmarketing@gmail.com</a>
</address>